<div class="d-flex flex-column align-items-center col-12">
  <div class="col-12 col-lg-6 d-flex flex-column align-items-center justify-content-center py-5"
       [attr.data-aos]="'fade-up'" data-aos-duration="3200" data-aos-anchor-placement="center-bottom">
    <span class="fs-64 marck text-center primary-color">Дресс-код</span>
    <span class="fs-20 mulish text-center pt-2">
          Чтобы подчеркнуть значимость этого мероприятия,
          просим остановить выбор на соотвутствующих случаю вечерних нарядах:
    </span>
    <span class="fs-20 mulish text-center pt-3">
      Женщины: только <b>черные</b> платья/брюки/блузки
    </span>
    <span class="fs-20 mulish text-center pt-3">
          Мужчины: только <b>черные</b> костюмы и <b>белые</b> рубашки
    </span>
  </div>
</div>
