<div class="main-background d-flex flex-column align-items-center justify-content-center">
  <div class="page-container">
    <title-section></title-section>
    <schedule-section-screen></schedule-section-screen>
    <welcome-card></welcome-card>
    <dress-code-section></dress-code-section>
  </div>
  <div class="w-100">
    <date-counter></date-counter>
  </div>
  <div class="page-container">
    <wishes-section></wishes-section>
    <telegram-card></telegram-card>
    <contacts-section></contacts-section>
  </div>
  <div class="w-100">
    <goodbye-card></goodbye-card>
  </div>
</div>

