.main-background{
  background-color: #F3EEE8;
  //overflow-x: hidden;
}

.page-container{
  width: 680px!important;
}

@media screen and (max-width: 680px) {
  .page-container {
    width: 400px !important;
  }
}
