<div class="d-flex flex-column align-items-center col-12 position-relative">
  <div class="col-12 col-lg-6 d-flex flex-column align-items-center justify-content-center card-container goodbye-container" [attr.data-aos]="'fade-up'" data-aos-duration="3200" data-aos-anchor-placement="center-bottom">
    <span class="fs-24 mulish text-center text-white">Вы не просто так получили это приглашение! В особый для нас день мы очень хотим,чтобы вы были рядом!</span>
    <span class="pt-3 fs-64 marck text-center text-white">Ждем васс нетерпением</span>
  </div>
</div>
