<div class="d-flex flex-column align-items-center col-12 position-relative w-100">
  <div class="col-12 col-lg-6 d-flex flex-column align-items-center justify-content-center card-container goodbye-container w-100" [attr.data-aos]="'fade-up'" data-aos-duration="3200" data-aos-anchor-placement="center-bottom">
    <span class="px-3 fs-24 mulish-light text-center text-secondary">Вы не просто так получили это приглашение! В особый для нас день мы очень хотим,чтобы вы были рядом!</span>
    <span class="pt-5 fs-64 marck text-center text-secondary">Ждем вас<br> c нетерпением</span>
  </div>
</div>
