<div class="d-flex flex-column align-items-center col-12 title-container">
  <div class="col-12 d-flex flex-column position-relative pt-4">
    <div class="d-flex align-items-baseline wife-title" [attr.data-aos]="'fade-right'" data-aos-duration="3000">
      <span class="fs-128 majestic pe-1">M</span>
      <span class="fs-64 mulish-light">ария</span>
    </div>
    <span class="fs-100 isadora ampersand">&</span>
    <div class="d-flex align-items-baseline justify-content-end husband-title" [attr.data-aos]="'fade-left'" data-aos-duration="3000">
      <span class="fs-128 majestic pe-1">B</span>
      <span class="fs-64 mulish-light">ладислав</span>
    </div>
  </div>
  <div class="col-12 d-flex justify-content-center position-relative pt-4">
    <div class="wife-image-container" [attr.data-aos]="'fade-right'" data-aos-duration="3000">
      <img src="assets/images/maria.png">
    </div>
    <div class="husband-image-container" [attr.data-aos]="'fade-left'" data-aos-duration="3000">
      <img src="assets/images/vlad.png">
    </div>
  </div>
  <div class="py-4 px-3 col-12 d-flex align-items-center justify-content-center fs-24" data-aos="zoom-out" data-aos-anchor-placement="center-bottom" data-aos-duration="1000">
        <span class="text-center mulish-light">
          И в этот прекрасный день мы хотим вместе с Bами разделить яркие мгновения и искренние улыбки!
      </span>
  </div>
</div>
