.title-container {
  //min-height: 100vh;
  justify-content: space-around;
}

.wife-image-container {
  z-index: 9;
  position: relative;
  left: 35px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
}

.husband-image-container {
  position: relative;
  right: 35px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
}

.ampersand{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  position: relative;
  right: -10px;
  top: -35px;
}

.husband-title{
  position: relative;
}

@media screen and (max-width: 680px) {
  .wife-title {
    position: relative;
    left: 60px;
  }

  .husband-title {
    position: relative;
    right: 60px;
  }

  .ampersand{
    height: 10px !important;
    left: 60px !important;
    top: -15px !important;
  }
}
