<div class="d-flex flex-column align-items-center col-12">
  <div class="py-5 col-12 col-lg-6 d-flex flex-column align-items-center justify-content-center">
    <span class="fs-64 marck text-center primary-color">Контакты</span>
    <span class="py-3 fs-20 mulish text-center px-5">
        Если у вас возникнут вопросы, пожалуйста,
        обращайтесь к нашему организатору Инне
      </span>
    <div class="pt-3 fs-20 mulish text-center d-flex align-items-center">
      <span>+995 574 150 437</span>
      <img class="mx-2 cursor-pointer" src="assets/images/telegram.svg">
      <img class="mx-2 cursor-pointer" src="assets/images/whatsapp.svg">
    </div>
  </div>
</div>
