<div class="d-flex flex-column align-items-center col-12">
  <div class="py-5 col-12 d-flex flex-column align-items-center justify-content-center">
    <span class="fs-64 marck text-center text-primary">Контакты</span>
    <span class="py-3 fs-20 mulish-light text-center px-5">
        Если у вас возникнут вопросы, пожалуйста,
        обращайтесь к нашему организатору Инне
      </span>
    <div class="fs-20 mulish-light text-center d-flex align-items-center">
      <span class="mx-2 text-primary" href='tel:+995 574 150 437'>+995 574 150 437</span>
      <a href="https://t.me/nika_events" target="_blank">
        <img class="mx-2 cursor-pointer" src="assets/images/telegram.svg">
      </a>
      <a href="https://wa.me/995574150437?text=Здравствуйте%20хочу%20задать%20вопрос" target="_blank">
        <img class="mx-2 cursor-pointer" src="assets/images/whatsapp.svg">
      </a>
    </div>
  </div>
</div>
