<div class="d-flex flex-column align-items-center col-12 position-relative">
  <div class="pt-4 col-12 d-flex flex-column align-items-center justify-content-center card-container" [attr.data-aos]="'fade-up'" data-aos-duration="3200" data-aos-anchor-placement="center-bottom">
    <span class="fs-40 marck text-center text-secondary">Группа в Telegram!</span>
    <span class="py-4 fs-20 mulish-light text-center text-secondary">Мы создали телеграм-группу нашего праздника,где можно будет узнать дополнительную информацию, а также поделиться фотографиями и видео в день свадьбы и после.</span>
    <div class="col-8 d-flex align-items-center map-button">
      <a href="https://t.me/+Phui7mnT7Gg1NjMy" target="_blank" class="w-100">
        <button class="btn btn-secondary btn-lg w-100 fs-24 mulish-light">
          Вступить
        </button>
      </a>
    </div>
  </div>
</div>
