.date-container {
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100px;
  font-size: 40px;
}

.line{
  position: absolute;
  top: 135px;
  z-index:99
}

.central-date {
  max-height: 100px;

  img {
    height: 100px
  }
}

.section-container {
  min-height: 300px;
  justify-content: center;
  position: relative;
}

.index{
  z-index: 99;
}

.second-section{
  position: relative;
  top: -100px;
}


.schedule-image-container-1 {
  position: relative;
  justify-content: center;

  img{
    max-height: 300px;
  }
}

.schedule-image-container-2 {
  position: relative;
  justify-content: center;
  left: -60px;

  img{
    max-height: 420px;
  }
}

.schedule-image-container-3 {
  position: relative;
  justify-content: center;
  left: -60px;

  img{
    max-height: 600px;
  }
}
