<div class="d-flex flex-column align-items-center col-12 position-relative">
  <span class="pb-2 marck fs-48 primary-color">Наш апрель</span>
  <img src="assets/images/line.svg" class="line" [attr.data-aos]="'fade-up'" data-aos-duration="3200" data-aos-anchor-placement="center-bottom">
  <div class="col-12 col-lg-6 d-flex justify-content-around">
    <div class="date-container marck"  [attr.data-aos]="'fade-left'" data-aos-duration="3000">
      23
    </div>
    <div class="date-container marck"  [attr.data-aos]="'fade-left'" data-aos-duration="3000">
      24
    </div>
    <div class="central-date">
      <img src="assets/images/heart.png">
    </div>
    <div class="date-container marck"  [attr.data-aos]="'fade-right'" data-aos-duration="3000">
      26
    </div>
    <div class="date-container marck"  [attr.data-aos]="'fade-right'" data-aos-duration="3000">
      27
    </div>
  </div>
  <div class="pt-5 col-12 col-lg-6 d-flex row section-container" [attr.data-aos]="'fade-right'" data-aos-duration="3000">
    <div class="d-flex flex-column justify-content-center col-6 index">
      <span class="marck fs-50 text-end pt-2">14:40</span>
      <span class="marck fs-50 text-end">Сбор гостей</span>
      <span class="pt-3 fs-20 mulish">
        Время пролетит незаметно за игристым и общением
        с другими гостями.
      </span>
    </div>
    <div class="d-flex flex-column col-6">
      <div class="schedule-image-container-1">
        <img src="assets/images/picture_1.png">
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-6 d-flex row section-container"  [attr.data-aos]="'fade-left'" data-aos-duration="3000">
    <div class="d-flex flex-column col-6 ">
      <div class="schedule-image-container-2">
        <img src="assets/images/picture_2.png">
      </div>
    </div>
    <div class="d-flex flex-column justify-content-center col-6 index">
      <span class="marck fs-50 text-end pt-2">16:00</span>
      <span class="marck fs-50 text-end">Церемония</span>
      <span class="pt-3 fs-20 mulish">
        На всякий случай приготовьте носовые платочки для трогательного момента.
      </span>
    </div>
  </div>
  <div class="col-12 col-lg-6 d-flex row section-container second-section" [attr.data-aos]="'fade-right'" data-aos-duration="3000">
    <div class="d-flex flex-column justify-content-center col-6 index">
      <span class="marck fs-50 text-end pt-2">17:00</span>
      <span class="marck fs-50 text-end">Начало банкета</span>
      <span class="pt-3 fs-20 mulish">
       Вкусные блюда и веселая программа от нашего крутого ведущего.
      </span>
    </div>
    <div class="d-flex flex-column col-6 ">
      <div class="schedule-image-container-3">
        <img src="assets/images/picture_3.png">
      </div>
    </div>
  </div>
</div>
