<div class="d-flex flex-column align-items-center col-12 position-relative wishes-container">
  <div class="col-12 col-lg-6 d-flex flex-column align-items-center justify-content-center pt-5" [attr.data-aos]="'fade-up'" data-aos-duration="3200" data-aos-anchor-placement="center-bottom">
    <span class="fs-64 marck text-center text-primary">Пожелания</span>
  </div>

  <div class="col-12 d-flex justify-content-start position-relative" [attr.data-aos]="'fade-right'" data-aos-duration="3000">
    <div class="d-flex flex-column justify-content-center col-8 z-index-99">
      <div class="d-flex align-items-center pt-2">
        <span class="marck fs-50 text-primary px-3">
          1
        </span>
        <span class="fs-20 mulish-light">
          Наш дом не всегда богат свободными<br> поверхностями, поэтому вместо цветов<br> будем рады бутылке вина или книге.
        </span>
      </div>
    </div>
    <div class="d-flex flex-column justify-content-center">
      <div class="wishes-image-container-1">
        <img src="assets/images/wish_1.png">
      </div>
    </div>
  </div>
  <div class="col-12 d-flex justify-content-end wishes-section-2 pb-3 z-index-99" [attr.data-aos]="'fade-left'" data-aos-duration="3000">
    <div class="d-flex flex-column justify-content-center">
      <div class="wishes-image-container-2">
        <img src="assets/images/wish_2.png">
      </div>
    </div>

    <div class="d-flex flex-column justify-content-center col-9 z-index-99">
      <div class="d-flex align-items-center pt-2">
        <span class="marck fs-50 text-primary px-3">
          2
        </span>
        <span class="fs-20 mulish-light">
           Если у вас есть пищевые ограничения<br> или аллергии, пожалуйста, сообщите<br> нам заранее.
        </span>
      </div>
    </div>
  </div>
  <div class="col-12 d-flex justify-content-start wishes-section-3 pb-5" [attr.data-aos]="'fade-right'" data-aos-duration="3000">
    <div class="d-flex flex-column justify-content-center col-8 z-index-99">
      <div class="d-flex align-items-center pt-2">
        <span class="marck fs-50 text-primary px-3">
           3
        </span>
        <span class="fs-20 mulish-light">
            Мы планируем вечер для взрослых и<br> будем признательны за понимание.
        </span>
      </div>
    </div>
    <div class="d-flex flex-column justify-content-center">
      <div class="wishes-image-container-3">
        <img src="assets/images/wish_3.png">
      </div>
    </div>
  </div>
</div>
