.wishes-container{
  height: 900px;
}

.wishes-image-container{
  overflow: hidden;
  position: relative;
  justify-content: center;

  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
}

.wishes-section-2{
  position: relative;
  top: -50px;
}

.wishes-section-3{
  position: relative;
  top: -200px;
}

.wishes-image-container-1{
  position: relative;
  justify-content: center;
  right: 110px;

  img {
    max-height: 300px;
  }
}

.wishes-image-container-2{
  position: relative;
  justify-content: center;
  left: 70px;

  img {
    max-height: 220px;
  }
}

.wishes-image-container-3{
  position: relative;
  justify-content: center;

  img {
    max-height: 380px;
  }
}

@media screen and (max-width: 680px) {
  .wishes-container{
    height: auto !important;
  }

  .wishes-section-2{
    top: -50px!important;
  }

  .wishes-section-3{
    position: relative;
    top: -50px!important;
  }

  .wishes-image-container-1 {
    right: 80px!important;

    img {

      height: 160px !important;
    }
  }

  .wishes-image-container-2 {
    left: 60px!important;

    img {
      height: 120px !important;
    }
  }

  .wishes-image-container-3 {
    position: absolute;
    left: auto!important;

    img {
      height: 202px !important;
    }
  }
}
