<div class="d-flex flex-column align-items-center col-12 position-relative">
  <div class="col-12 col-lg-6 d-flex flex-column align-items-center justify-content-center pt-5" [attr.data-aos]="'fade-up'" data-aos-duration="3200" data-aos-anchor-placement="center-bottom">
    <span class="fs-64 marck text-center primary-color">Пожелания</span>
  </div>

  <div class="col-12 col-lg-6 d-flex row justify-content-start position-relative" [attr.data-aos]="'fade-right'" data-aos-duration="3000">
    <div class="d-flex flex-column justify-content-center col-7 index">
      <div class="d-flex align-items-center pt-2">
        <span class="marck fs-50 primary-color px-3">
          1
        </span>
        <span class="fs-20 mulish">
          Наш дом не всегда богат свободными поверхностями, поэтому вместо цветов будем рады бутылке вина или книге.
        </span>
      </div>
    </div>
    <div class="d-flex flex-column justify-content-center col-5">
      <div class="wishes-image-container">
        <img src="assets/images/wish_1.png">
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-6 d-flex row justify-content-end" [attr.data-aos]="'fade-left'" data-aos-duration="3000">
    <div class="d-flex flex-column justify-content-center col-5">
      <div class="wishes-image-container">
        <img src="assets/images/wish_2.png">
      </div>
    </div>

    <div class="d-flex flex-column justify-content-center col-7 index">
      <div class="d-flex align-items-center pt-2">
        <span class="marck fs-50 primary-color px-3">
          2
        </span>
        <span class="fs-20 mulish">
           Если у вас есть пищевые ограничения или аллергии, пожалуйста, сообщите нам заранее.
        </span>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-6 d-flex row justify-content-start" [attr.data-aos]="'fade-right'" data-aos-duration="3000">
    <div class="d-flex flex-column justify-content-center col-7 index">
      <div class="d-flex align-items-center pt-2">
        <span class="marck fs-50 primary-color px-3">
           3
        </span>
        <span class="fs-20 mulish">
            Мы планируем вечер для взрослых и будем признательны за понимание.
        </span>
      </div>
    </div>
    <div class="d-flex flex-column justify-content-center col-5">
      <div class="wishes-image-container">
        <img src="assets/images/wish_3.png">
      </div>
    </div>
  </div>
</div>
