<div class="px-3 pb-3 d-flex flex-column align-items-center col-12 position-relative z-index-99">
  <div class="pt-4 col-12 d-flex flex-column align-items-center justify-content-center card-container"
       [attr.data-aos]="'fade-up'" data-aos-duration="3200" data-aos-anchor-placement="center-bottom">
    <span class="fs-40 marck text-center text-secondary">Ждем вас!</span>
    <span class="fs-24 mulish-light text-center text-secondary pt-3">Ресторан “Аджарский винный дом” Грузия, г. Батуми</span>
    <div class="col-8 d-flex align-items-center map-button">
      <a href="https://maps.app.goo.gl/8dSXaKEzrQufEkGcA" target="_blank" class="w-100">
        <button class="btn btn-secondary btn-lg w-100 fs-24 mulish-light">
          Перейти на карту
        </button>
      </a>
    </div>
  </div>
</div>
