<div class="d-flex flex-column align-items-center col-12 position-relative">
  <div class="col-12 col-lg-6 d-flex flex-column align-items-center justify-content-center card-container counter-container w-100" [attr.data-aos]="'zoom-in'" data-aos-duration="3200" data-aos-anchor-placement="center-bottom">
    <span class="fs-64 marck text-center text-secondary">До нашей свадьбы</span>
    <div class="d-flex py-5">
      <img class="w-100" src="assets/images/heart-card.png">
    </div>
    <countdown [config]="config"></countdown>
  </div>
</div>
