@use '@angular/material' as mat;
@import "styles/scroll";

$primary: #740D1D;
$secondary: #F3EEE8;

@import "node_modules/bootstrap/scss/bootstrap";

.btn-secondary {
  background-color: #F3EEE8;
  border-color: #740D1D;
  color: #740D1D;

  &:hover {
    color: #F3EEE8;
    background-color: #740D1D;
  }

  &:focus, &:active {
    box-shadow: 0 0 0 0.25rem rgba(234, 81, 68, 0.5);
  }
}



@font-face {
  font-family: 'Cherish';
  src: url('assets/fonts/Cherish-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Marck';
  src: url('assets/fonts/Marck-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mulish';
  src: url('assets/fonts/Mulish.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Mulish-Light';
  src: url('assets/fonts/Mulish-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Majestic';
  src: url('assets/fonts/Majestic.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Isadora';
  src: url('assets/fonts/Isadora.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

.cherish {
  color: #740D1D;
  font-family: 'Cherish', cursive;
}

.isadora {
  color: #740D1D;
  font-family: 'Isadora', sans-serif;
}

.majestic {
  color: #740D1D;
  font-family: 'Majestic', sans-serif;
}

.mulish {
  font-family: 'Mulish-SemiBold', sans-serif;
}

.mulish-extra-light {
  font-family: 'Mulish-ExtraLight', sans-serif;
}

.mulish-light {
  font-family: 'Mulish-Light', sans-serif;
}

.marck {
  font-family: 'Marck', sans-serif;
}

@media screen and (max-width: 680px) {
  .fs-20 {
    font-size: 11px !important;
    line-height: 11px !important;
  }

  .fs-24 {
    font-size: 16px !important;
    line-height: 16px !important;
  }

  .fs-40 {
    font-size: 30px !important;
    line-height: 30px !important;
  }

  .fs-48 {
    font-size: 34px !important;
    line-height: 34px !important;
  }

  .fs-50 {
    font-size: 26px !important;
    line-height: 32px !important;
  }

  .fs-64 {
    font-size: 34px !important;
    line-height: 34px !important;
  }

  .fs-72 {
    font-size: 38px !important;
    line-height: 38px !important;
  }

  .fs-100 {
    font-size: 50px !important;
    line-height: 50px !important;
  }

  .fs-128 {
    font-size: 72px !important;
    line-height: 72px !important;
  }
}

.cursor-pointer{
  cursor: pointer;
}

.fs-72{
  font-size: 72px;
  line-height: 72px;
}

.fs-20 {
  font-size: 20px;
  line-height: 20px;
}

.fs-24 {
  font-size: 24px;
  line-height: 24px;
}

.fs-40 {
  font-size: 40px;
  line-height: 40px;
}

.fs-48 {
  font-size: 48px;
  line-height: 48px;
}

.fs-50 {
  font-size: 50px;
  line-height: 50px;
}

.fs-64 {
  font-size: 64px;
  line-height: 64px;
}

.fs-128 {
  font-size: 128px;
  line-height: 128px;
}

.fs-100 {
  font-size: 100px;
  line-height: 100px;
}

.z-index-99{
  z-index: 99;
}


.card-container{
  background-image: url('assets/images/background-card.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  padding: 50px 30px;
  position: relative;
  border-radius: 10px;

  .map-button{
    position: absolute;
    bottom: -20px;
  }
}

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    color: inherit;
  }
}

  //[data-aos] {
  //  pointer-events: auto !important;
  //  opacity: 1 !important;
  //  transform: none !important;
  //}

//@media screen and (max-width: 680px) {
//  [data-aos] {
//    pointer-events: auto !important;
//    opacity: 1 !important;
//    transform: none !important;
//  }
//}
